@{
    ViewBag.Title = "Log Generator";
    //int NumberOfEntries = (dynamic)Model.NumberOfEntries;
    //int LogFrequency = (dynamic)Model.LogFrequency;
}

<div class="jumbotron">
    @*<p>Kicked off process to generate @Model.NumberOfEntries logs at rate a log entry every @Model.LogFrequency seconds</p>*@
    <p>Kicked off process to generate logs</p>
</div>
